services:
  forgejo:
    image: codeberg.org/forgejo/forgejo:13.0.3
    container_name: forgejo
    restart: unless-stopped

    ports:
      - "3000:3000"
      - "222:22"

    volumes:
      - ./forgejo/data:/data
      - ./forgejo/config:/etc/forgejo

    environment:
      - USER_UID=1000
      - USER_GID=1000
      - FORGEJO__server__ROOT_URL=http://localhost:3000
      - FORGEJO__server__SSH_PORT=222
      - FORGEJO__database__DB_TYPE=sqlite3

    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 5

